:root {
  --primary-Green: #c5f82a;
  --nutral-White: #ffffff;
  --nutral-Grey: #333333;
  --nutral-Dark-Gray: #1f1f1f;
  --nurtral-off-Black: #141414;

  --ff: "Inter", sans-serif;
  --fs-body: 0.875rem;
  --fs-heading: 1.375rem;
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  line-height: 1.1;
}

ul li {
  list-style: none;
}

a {
  color: var(--nutral-White);
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  margin-inline: auto;
  color: var(--primary-Green);
  font-style: italic;
}
body {
  text-align: center;
  font-family: var(--ff);
  font-weight: var(--fw-400);
  font-size: var(--fs-body);
  color: var(--nutral-White);
  background-color: var(--nurtral-off-Black);
}

/* text-style */
.user-name {
  font-size: var(--fs-heading);
  font-weight: var(--fw-600);
  margin-bottom: 0.5rem;
}

.user-location {
  color: var(--primary-Green);
  font-weight: var(--fw-600);
  margin-bottom: 1.25rem;
}

.userdes {
  font-weight: var(--fw-400);
  margin-bottom: 1.5rem;
}
.list-item {
  display: block;
  width: 100%;
  background-color: var(--nutral-Grey);
  padding: 0.7rem;
  border-radius: 0.5rem;
  text-align: center;
  transition: 0.3s ease;
}

.list-item:hover {
  background-color: var(--primary-Green);
  color: var(--nurtral-off-Black);
}

/* layout style */

.wrapper {
  display: grid;
  place-items: center;
  min-height: 100dvh;
}
.profile-container {
  width: 25em;
  background-color: var(--nutral-Dark-Gray);
  padding: 1.75rem;
  border-radius: 0.6rem;
}

.social-links * + * {
  margin-top: 0.75rem;
}

/* general styles */

.user-img {
  width: 7em;
  margin-bottom: 1.5rem;
  border-radius: 50%;
}
